body{
    background-image: url(busTerminal.jpeg);
    background-size:cover;
    height: 100vh;
    text-align: center; 
    background-color: antiquewhite;
}

.container{
    background-color: wheat;
    max-width: 60%;
    margin: auto;
}
h1, h2 {
    
    color: white;
}
button{
    border: none;
    border-radius: 15px;
    margin-bottom: 10px;
    width: 200px;
    height: 50px;
    font-weight: bolder;
    color: wheat;
    background: aqua;
    
}

#save-el {
    color: white;
    font-weight: bold;
    margin:auto;
}



